<header>
      <div class="header_container">
      <%= link_to root_path do %>
      NewYorkCityMap
      <% end %>
      
        
        <% if user_signed_in? %>
        
        
          <%= link_to "Mypage", user_path(current_user.id) %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Signin",  new_user_registration_path %>
        <% end %>

        <%= link_to 'Manhattan', manhattans_path %>
        <%= link_to 'Brooklyn', brooklyns_path %>
        <%= link_to 'Bronx', brons_path %>
        <%= link_to 'Queens', queens_path %>
        <%= link_to 'Statenisland', statenislands_path %>
        <%= link_to '診断', shindans_path %>

        </div>
</header>

<div  class="top-first-block">
  <div class="tf-name">

    <h1>Empire State Of Mind</h1>
    <p>New York City</p>
    
    <div class="tf-music">
      <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="150" style="width:40%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/jp/album/%E3%82%A8%E3%83%B3%E3%83%91%E3%82%A4%E3%82%A2-%E3%82%B9%E3%83%86%E3%82%A4%E3%83%88-%E3%82%AA%E3%83%96-%E3%83%9E%E3%82%A4%E3%83%B3%E3%83%89-feat-%E3%82%A2%E3%83%AA%E3%82%B7%E3%82%A2-%E3%82%AD%E3%83%BC%E3%82%BA/1440932327?i=1440932750"></iframe>
    </div class="tf-music">

  </div class="tf-name">
</div>

<div  class="top-second-block">

 <ul>
  <li><%= link_to 'Manhattan', manhattans_path %></li>
  <li><%= link_to 'Brooklyn', brooklyns_path %></li>
  <li><%= link_to 'Bronx', brons_path %></li>
  <li><%= link_to 'Queens', queens_path %></li>
  <li><%= link_to 'Statenisland', statenislands_path %></li>
 </ul>

 <%= image_tag "map.gif", size: '730x730' %>

</div>