<header>
      <div class="header_container">
      <%= link_to root_path do %>
      NewYorkCityMap
      <% end %>
      
        
        <% if user_signed_in? %>
        
        
          <%= link_to "Mypage", user_path(current_user.id) %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Signin",  new_user_registration_path %>
        <% end %>

        <%= link_to 'Manhattan', manhattans_path %>
        <%= link_to 'Brooklyn', brooklyns_path %>
        <%= link_to 'Bronx', brons_path %>
        <%= link_to 'Queens', queens_path %>
        <%= link_to 'Statenisland', statenislands_path %>
        <%= link_to 'Reccomend', shindans_path %>

        </div>
</header>

<div  class="top-first-block">

  <div class="tf-name">

    <h1>Empire State Of Mind</h1>
    <p>New York City</p>
    
  </div>

</div>

<div  class="top-second-block">

  <div class="ts-text">
  City Details
  </div>

  <div class="ts-pic">

    <a href="https://nycmap.onrender.com/manhattans">
      <%= image_tag "ma.jpg", size: '350x350' %>
    </a>

    <a href="https://nycmap.onrender.com/brooklyns">
      <%= image_tag "br.jpg", size: '350x350' %>
    </a> 

    <a href="https://nycmap.onrender.com/queens">
      <%= image_tag "qu.jpg", size: '350x350' %>
    </a>

  </div>

  <div class="ts-pic2">
    
    <a href="https://nycmap.onrender.com/brons">
      <%= image_tag "bro.jpg", size: '350x350' %>
    </a>

    <a href="https://nycmap.onrender.com/statenislands">
      <%= image_tag "st.jpg", size: '350x350' %>
    </a>

  </div>

</div>